.ubicacion{
    height: 60px;
    align-items: center;
}
.btnGps{
    display: flex;
    position: absolute;
    left: 90vw;
    top:  10px;
    
   
}
.background {
    --background: url("@/img/fondo_huellas.jpg") 0 0/ 100% 100% no-repeat; /* Ruta de la imagen de fondo */
    
  }
  ion-toolbar{
    color:#000000;
    --background: #D2B48C;
    font-family: 'Titulo'; 
  }
  .btn-guardar{
    display: block;
    margin: 10px auto; /* Ajusta la cantidad de espacio arriba y abajo según tus necesidades */
    background-color: #ffffff00; /* Cambia #000 al color que desees en formato hexadecimal o nombre del color */
    color: #000; /* Cambia #fff al color del texto que desees */
    padding: 8px 16px; /* Ajusta el relleno para cambiar el tamaño del botón */
  }