.custom-background {
    --background: url("@/img/fondo_huellas.jpg") 0 0/ 100% 100% no-repeat; /* Ruta de la imagen de fondo */
  
}
ion-toolbar{
  color:#000000;
  --background: #FF7F00;
  font-family: 'Titulo';
}
  .custom-card {
    background-color: #ff8000b2;
    border-radius: 10px;
    margin: 10px;
  }