ion-card {
    margin: 10px;
  }
  
  ion-card-header {
    background-color: #FFA726; /* Color de fondo para el header */
    color: white; /* Color del texto */
  }
  
  ion-card-content {
    padding: 10px;
  }
  
  img {
    width: 100%; /* Asegúrate de que las imágenes se escalen correctamente */
  }
  .floating-button {
    position: fixed;
    bottom: 20px; /* Ajusta según tu diseño */
    right: 20px; /* Ajusta según tu diseño */
  }
  