.background {
  --background: url("@/img/fondo_huellas.jpg") 0 0/ 100% 100% no-repeat; /* Ruta de la imagen de fondo */
  
}
ion-toolbar{
  color:#000000;
  --background: #FF7F00;
  font-family: 'Titulo'; 
}
.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ion-card {
    margin: 10px;
  }
  
  ion-card-header {
    background-color: #FF7F00; /* Color de fondo para el header */
    color: white; /* Color del texto */
  }
  
  ion-card-content {
    padding: 10px;
  }
  
.imagen {
    width: 100%; /* Asegúrate de que las imágenes se escalen correctamente */
  }
  .floating-button {
    position: fixed;
    bottom: 20px; /* Ajusta según tu diseño */
    right: 20px; /* Ajusta según tu diseño */
  }
  