
ion-card {
  --background: #fff; /* Establece el color de fondo de las tarjetas */
}
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
 
  .user-icon {
    height: 50px; /* Ajusta según el tamaño que necesites */
    cursor: pointer;
  }
  
