.background {
    --background: url("@/img/fondo_huellas.jpg") 0 0/ 100% 100% no-repeat; /* Ruta de la imagen de fondo */
    
  }
  ion-toolbar{
    color:#000000;
    --background: #FF7F00;
    font-family: 'Titulo'; 
  }
.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
  ion-input {
    color: black;
  }
  ion-button {
    display: block;
    margin: 10px auto; /* Ajusta la cantidad de espacio arriba y abajo según tus necesidades */
    background-color: #ffffff00; /* Cambia #000 al color que desees en formato hexadecimal o nombre del color */
    color: #000; /* Cambia #fff al color del texto que desees */
    padding: 8px 16px; /* Ajusta el relleno para cambiar el tamaño del botón */
  }
  .custom-back-button {
    margin-left: 10px; /* Ajusta el valor según sea necesario para la posición deseada */
  }